@import url('https://fonts.googleapis.com/css?family=Roboto:regular');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  background: #555;
}
